/* .balance {
   display: flex;
   flex-direction: row;
   background-color: aquamarine;
   justify-content: space-around;
   gap: 20px;
} */

.balance {
   background-color: aquamarine;
}

.container-card {
   border: 1px solid blue;
   border-radius: 15px;
   padding: 20px;
}

@media (min-width: 768px) {
   .balance {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 20px;
   }
}

.container-card:first-child {
   text-align: left;
}
