$fondo: rgb(237, 237, 237);
$hover:rgb(247, 247, 247);


@mixin hoverStyle {
    &:hover{
      background: $hover;
    }
 }
 

.bgColor{
    background-color: $fondo;
}

.cardHeight{
    height: 90%;
}

.cardHeightLeft{
    height:12.5%;
    @include hoverStyle;
}

.regret{
    height: 5%;
    @include hoverStyle;
    
}

.listCard{
    margin-top: -0px;
    @include hoverStyle;
}


@media only screen and (max-width: 958px) {
    .cardHeightLeft{
        height: 15%;
    }
    .regret{
        height: 5%;
    }
    .listCard{
        margin-top: -0px;
    }
}

@media only screen and (max-width: 767px) {
    .cardHeight{
        height: 50%;
    }

    .cardHeightLeft{
        height: 75%;
    }
}